
// Colors
$darkGray : #222;
$lightGray : #e4e4e4;
// Component Colors
$bgColor : $darkGray;
$textColor : $lightGray;
$backColor : #cdcdcd;
$magenta : #ff0099;
$highlight : $magenta;



// Base padding
$grdPad: 11px;

